.Janissaries {
	background-image: url("img/svg/HIS-CardIds::001.svg");
}

.HolyRomanEmperor {
	background-image: url("img/svg/HIS-CardIds::002.svg");
}

.SixWives {
	background-image: url("img/svg/HIS-CardIds::003.svg");
}

.PatronArts {
	background-image: url("img/svg/HIS-CardIds::004.svg");
}

.PapalBull {
	background-image: url("img/svg/HIS-CardIds::005.svg");
}

.LeipzigDebate {
	background-image: url("img/svg/HIS-CardIds::006.svg");
}

.HereIStand {
	background-image: url("img/svg/HIS-CardIds::007.svg");
}

.LutherTheses {
	background-image: url("img/svg/HIS-CardIds::008.svg");
}

.BarbaryPirates {
	background-image: url("img/svg/HIS-CardIds::009.svg");
}

.ClementVII {
	background-image: url("img/svg/HIS-CardIds::010.svg");
}

.DefenderFaith {
	background-image: url("img/svg/HIS-CardIds::011.svg");
}

.MasterItaly {
	background-image: url("img/svg/HIS-CardIds::012.svg");
}

.SchmalkaldicLeague {
	background-image: url("img/svg/HIS-CardIds::013.svg");
}

.PaulIII {
	background-image: url("img/svg/HIS-CardIds::014.svg");
}

.SocietyJesus {
	background-image: url("img/svg/HIS-CardIds::015.svg");
}

.Calvin {
	background-image: url("img/svg/HIS-CardIds::016.svg");
}

.CouncilTrent {
	background-image: url("img/svg/HIS-CardIds::017.svg");
}

.Dragut {
	background-image: url("img/svg/HIS-CardIds::018.svg");
}

.EdwardVI {
	background-image: url("img/svg/HIS-CardIds::019.svg");
}

.HenryII {
	background-image: url("img/svg/HIS-CardIds::020.svg");
}

.MaryI {
	background-image: url("img/svg/HIS-CardIds::021.svg");
}

.JuliusIII {
	background-image: url("img/svg/HIS-CardIds::022.svg");
}

.ElizabethI {
	background-image: url("img/svg/HIS-CardIds::023.svg");
}

.Arquebusiers {
	background-image: url("img/svg/HIS-CardIds::024.svg");
}

.FieldArtillery {
	background-image: url("img/svg/HIS-CardIds::025.svg");
}

.MercenariesBribed {
	background-image: url("img/svg/HIS-CardIds::026.svg");
}

.MercenariesGrowRestless {
	background-image: url("img/svg/HIS-CardIds::027.svg");
}

.SiegeMining {
	background-image: url("img/svg/HIS-CardIds::028.svg");
}

.SurpriseAttack {
	background-image: url("img/svg/HIS-CardIds::029.svg");
}

.Tercios {
	background-image: url("img/svg/HIS-CardIds::030.svg");
}

.FoulWeather {
	background-image: url("img/svg/HIS-CardIds::031.svg");
}

.Gout {
	background-image: url("img/svg/HIS-CardIds::032.svg");
}

.Landsknechts {
	background-image: url("img/svg/HIS-CardIds::033.svg");
}

.ProfessionalRowers {
	background-image: url("img/svg/HIS-CardIds::034.svg");
}

.SiegeArtillery {
	background-image: url("img/svg/HIS-CardIds::035.svg");
}

.SwissMercenaries {
	background-image: url("img/svg/HIS-CardIds::036.svg");
}

.Wartburg {
	background-image: url("img/svg/HIS-CardIds::037.svg");
}

.HalleyComet {
	background-image: url("img/svg/HIS-CardIds::038.svg");
}

.AugsburgConfession {
	background-image: url("img/svg/HIS-CardIds::039.svg");
}

.Machiavelli {
	background-image: url("img/svg/HIS-CardIds::040.svg");
}

.MarburgColloquy {
	background-image: url("img/svg/HIS-CardIds::041.svg");
}

.Roxelana {
	background-image: url("img/svg/HIS-CardIds::042.svg");
}

.ZwingliDonsArmor {
	background-image: url("img/svg/HIS-CardIds::043.svg");
}

.AffairPlacards {
	background-image: url("img/svg/HIS-CardIds::044.svg");
}

.CalvinExpelled {
	background-image: url("img/svg/HIS-CardIds::045.svg");
}

.CalvinInstitutes {
	background-image: url("img/svg/HIS-CardIds::046.svg");
}

.Copernicus {
	background-image: url("img/svg/HIS-CardIds::047.svg");
}

.Galleons {
	background-image: url("img/svg/HIS-CardIds::048.svg");
}

.HuguenotRaiders {
	background-image: url("img/svg/HIS-CardIds::049.svg");
}

.MercatorMap {
	background-image: url("img/svg/HIS-CardIds::050.svg");
}

.MichaelServetus {
	background-image: url("img/svg/HIS-CardIds::051.svg");
}

.Michelangelo {
	background-image: url("img/svg/HIS-CardIds::052.svg");
}

.Plantations {
	background-image: url("img/svg/HIS-CardIds::053.svg");
}

.PotosiSilverMines {
	background-image: url("img/svg/HIS-CardIds::054.svg");
}

.JesuitEducation {
	background-image: url("img/svg/HIS-CardIds::055.svg");
}

.PapalInquisition {
	background-image: url("img/svg/HIS-CardIds::056.svg");
}

.PhilipHesseBigamy {
	background-image: url("img/svg/HIS-CardIds::057.svg");
}

.SpanishInquisition {
	background-image: url("img/svg/HIS-CardIds::058.svg");
}

.LadyJaneGrey {
	background-image: url("img/svg/HIS-CardIds::059.svg");
}

.MauriceSaxony {
	background-image: url("img/svg/HIS-CardIds::060.svg");
}

.MaryDefiesCouncil {
	background-image: url("img/svg/HIS-CardIds::061.svg");
}

.BookCommonPrayer {
	background-image: url("img/svg/HIS-CardIds::062.svg");
}

.DissolutionMonasteries {
	background-image: url("img/svg/HIS-CardIds::063.svg");
}

.PilgrimageGrace {
	background-image: url("img/svg/HIS-CardIds::064.svg");
}

.MightyFortress {
	background-image: url("img/svg/HIS-CardIds::065.svg");
}

.AkinjiRaiders {
	background-image: url("img/svg/HIS-CardIds::066.svg");
}

.Anabptists {
	background-image: url("img/svg/HIS-CardIds::067.svg");
}

.AndreaDoria {
	background-image: url("img/svg/HIS-CardIds::068.svg");
}

.AuldAlliance {
	background-image: url("img/svg/HIS-CardIds::069.svg");
}

.CharlesBourbon {
	background-image: url("img/svg/HIS-CardIds::070.svg");
}

.CityStateRebels {
	background-image: url("img/svg/HIS-CardIds::071.svg");
}

.ClothPricesFluctuate {
	background-image: url("img/svg/HIS-CardIds::072.svg");
}

.DiplomaticMarriage {
	background-image: url("img/svg/HIS-CardIds::073.svg");
}

.DiplomaticOverture {
	background-image: url("img/svg/HIS-CardIds::074.svg");
}

.Erasmus {
	background-image: url("img/svg/HIS-CardIds::075.svg");
}

.ForeignRecruits {
	background-image: url("img/svg/HIS-CardIds::076.svg");
}

.FountainYouth {
	background-image: url("img/svg/HIS-CardIds::077.svg");
}

.FrederickWise {
	background-image: url("img/svg/HIS-CardIds::078.svg");
}

.Fuggers {
	background-image: url("img/svg/HIS-CardIds::079.svg");
}

.GabelleRevolt {
	background-image: url("img/svg/HIS-CardIds::080.svg");
}

.IndulgenceVendor {
	background-image: url("img/svg/HIS-CardIds::081.svg");
}

.JanissariesRebel {
	background-image: url("img/svg/HIS-CardIds::082.svg");
}

.JohnZapolya {
	background-image: url("img/svg/HIS-CardIds::083.svg");
}

.JuliaGonzaga {
	background-image: url("img/svg/HIS-CardIds::084.svg");
}

.KatherinaBora {
	background-image: url("img/svg/HIS-CardIds::085.svg");
}

.KnightsStJohn {
	background-image: url("img/svg/HIS-CardIds::086.svg");
}

.MercenariesDemandPay {
	background-image: url("img/svg/HIS-CardIds::087.svg");
}

.PesantsWar {
	background-image: url("img/svg/HIS-CardIds::088.svg");
}

.PirateHaven {
	background-image: url("img/svg/HIS-CardIds::089.svg");
}

.PrintingPress {
	background-image: url("img/svg/HIS-CardIds::090.svg");
}

.Ransom {
	background-image: url("img/svg/HIS-CardIds::091.svg");
}

.RevoltEgypt {
	background-image: url("img/svg/HIS-CardIds::092.svg");
}

.RevoltIreland {
	background-image: url("img/svg/HIS-CardIds::093.svg");
}

.RevoltCommuneros {
	background-image: url("img/svg/HIS-CardIds::094.svg");
}

.SackRome {
	background-image: url("img/svg/HIS-CardIds::095.svg");
}

.SaleMoluccas {
	background-image: url("img/svg/HIS-CardIds::096.svg");
}

.ScotsRaid {
	background-image: url("img/svg/HIS-CardIds::097.svg");
}

.SearchCibola {
	background-image: url("img/svg/HIS-CardIds::098.svg");
}

.SebastianCabot {
	background-image: url("img/svg/HIS-CardIds::099.svg");
}

.Shipbuilding {
	background-image: url("img/svg/HIS-CardIds::100.svg");
}

.Smallpox {
	background-image: url("img/svg/HIS-CardIds::101.svg");
}

.SpringPreparations {
	background-image: url("img/svg/HIS-CardIds::102.svg");
}

.ThreatPower {
	background-image: url("img/svg/HIS-CardIds::103.svg");
}

.TraceItalienne {
	background-image: url("img/svg/HIS-CardIds::104.svg");
}

.Treachery {
	background-image: url("img/svg/HIS-CardIds::105.svg");
}

.UnpaidMercenaries {
	background-image: url("img/svg/HIS-CardIds::106.svg");
}

.UnsanitaryCamp {
	background-image: url("img/svg/HIS-CardIds::107.svg");
}

.VenetianAlliance {
	background-image: url("img/svg/HIS-CardIds::108.svg");
}

.VenetianInformant {
	background-image: url("img/svg/HIS-CardIds::109.svg");
}

.WarPersia {
	background-image: url("img/svg/HIS-CardIds::110.svg");
}

.ColonialGovernor {
	background-image: url("img/svg/HIS-CardIds::111.svg");
}

.ThomasMore {
	background-image: url("img/svg/HIS-CardIds::112.svg");
}

.ImperialCoronation {
	background-image: url("img/svg/HIS-CardIds::113.svg");
}

.ForetEmbassy {
	background-image: url("img/svg/HIS-CardIds::114.svg");
}

.ThomasCromwell {
	background-image: url("img/svg/HIS-CardIds::115.svg");
}

.RoughWooing {
	background-image: url("img/svg/HIS-CardIds::116.svg");
}

.DipAndreaDoria {
	background-image: url("img/svg/HIS-CardIds::201.svg");
}

.DipFrenchConstable {
	background-image: url("img/svg/HIS-CardIds::202.svg");
}

.DipCorsairRaid {
	background-image: url("img/svg/HIS-CardIds::203.svg");
}

.DipDiplomaticMarriage {
	background-image: url("img/svg/HIS-CardIds::204.svg");
}

.DipDiplomaticPressure {
	background-image: url("img/svg/HIS-CardIds::205.svg");
}

.DipFrenchInvasion {
	background-image: url("img/svg/HIS-CardIds::206.svg");
}

.DipHenryPetitions {
	background-image: url("img/svg/HIS-CardIds::207.svg");
}

.DipKnightsStJohn {
	background-image: url("img/svg/HIS-CardIds::208.svg");
}

.DipPlague {
	background-image: url("img/svg/HIS-CardIds::209.svg");
}

.DipShipbuilding {
	background-image: url("img/svg/HIS-CardIds::210.svg");
}

.DipSpanishInvasion {
	background-image: url("img/svg/HIS-CardIds::211.svg");
}

.DipVenetianAlliance {
	background-image: url("img/svg/HIS-CardIds::212.svg");
}

.DipAustrianInvasion {
	background-image: url("img/svg/HIS-CardIds::213.svg");
}

.DipImperialInvasion {
	background-image: url("img/svg/HIS-CardIds::214.svg");
}

.DipMachiavelli {
	background-image: url("img/svg/HIS-CardIds::215.svg");
}

.DipOttomanInvasion {
	background-image: url("img/svg/HIS-CardIds::216.svg");
}

.DipSecretProtestant {
	background-image: url("img/svg/HIS-CardIds::217.svg");
}

.DipSiegeVienna {
	background-image: url("img/svg/HIS-CardIds::218.svg");
}

.DipSpanishInquisition {
	background-image: url("img/svg/HIS-CardIds::219.svg");
}

