#overall-content {
  image-rendering: -webkit-optimize-contrast;
}

#board {
  position: relative;
  transform-origin: 0 0;
}

#map {
  position: relative;

  width: 5100px;
  height: 3300px;
  background-image: url('img/board.jpg');
  background-size: 5100px;
  background-repeat: no-repeat;
}

.map_node{
    position: absolute;
}

 .city {
    width: 30px;
    height: 30px;
    background-image: url('img/England_key.svg');
    background-size: 30px;
  }
