.faction-wrap {
  width: 50px;
  height: 55px;
}

.faction {
  transform: scale(.5);
  transform-origin: 0 0;
  width: 100px;
  height: 120px;
  background-size: 100px;
  background-repeat: no-repeat;
}

.faction_ottoman {
  background-image: url('img/svg/Ottoman_hex.svg');
}

.faction_hapsburg {
  background-image: url('img/svg/Hapsburg_hex.svg');
}

.faction_england {
  background-image: url('img/svg/England_hex.svg');
}

.faction_france {
  background-image: url('img/svg/France_hex.svg');
}

.faction_papacy {
  background-image: url('img/svg/Papacy_hex.svg');
}

.faction_protestant {
  background-image: url('img/svg/Protestant_hex.svg');
}
