.Janissaries {
	background-image: url("img/svg/HIS-001.svg");
}

.HolyRomanEmperor {
	background-image: url("img/svg/HIS-002.svg");
}

.SixWives {
	background-image: url("img/svg/HIS-003.svg");
}

.PatronArts {
	background-image: url("img/svg/HIS-004.svg");
}

.PapalBull {
	background-image: url("img/svg/HIS-005.svg");
}

.LeipzigDebate {
	background-image: url("img/svg/HIS-006.svg");
}

.HereIStand {
	background-image: url("img/svg/HIS-007.svg");
}

.LutherTheses {
	background-image: url("img/svg/HIS-008.svg");
}

.BarbaryPirates {
	background-image: url("img/svg/HIS-009.svg");
}

.ClementVII {
	background-image: url("img/svg/HIS-010.svg");
}

.DefenderFaith {
	background-image: url("img/svg/HIS-011.svg");
}

.MasterItaly {
	background-image: url("img/svg/HIS-012.svg");
}

.SchmalkaldicLeague {
	background-image: url("img/svg/HIS-013.svg");
}

.PaulIII {
	background-image: url("img/svg/HIS-014.svg");
}

.SocietyJesus {
	background-image: url("img/svg/HIS-015.svg");
}

.Calvin {
	background-image: url("img/svg/HIS-016.svg");
}

.CouncilTrent {
	background-image: url("img/svg/HIS-017.svg");
}

.Dragut {
	background-image: url("img/svg/HIS-018.svg");
}

.EdwardVI {
	background-image: url("img/svg/HIS-019.svg");
}

.HenryII {
	background-image: url("img/svg/HIS-020.svg");
}

.MaryI {
	background-image: url("img/svg/HIS-021.svg");
}

.JuliusIII {
	background-image: url("img/svg/HIS-022.svg");
}

.ElizabethI {
	background-image: url("img/svg/HIS-023.svg");
}

.Arquebusiers {
	background-image: url("img/svg/HIS-024.svg");
}

.FieldArtillery {
	background-image: url("img/svg/HIS-025.svg");
}

.MercenariesBribed {
	background-image: url("img/svg/HIS-026.svg");
}

.MercenariesGrowRestless {
	background-image: url("img/svg/HIS-027.svg");
}

.SiegeMining {
	background-image: url("img/svg/HIS-028.svg");
}

.SurpriseAttack {
	background-image: url("img/svg/HIS-029.svg");
}

.Tercios {
	background-image: url("img/svg/HIS-030.svg");
}

.FoulWeather {
	background-image: url("img/svg/HIS-031.svg");
}

.Gout {
	background-image: url("img/svg/HIS-032.svg");
}

.Landsknechts {
	background-image: url("img/svg/HIS-033.svg");
}

.ProfessionalRowers {
	background-image: url("img/svg/HIS-034.svg");
}

.SiegeArtillery {
	background-image: url("img/svg/HIS-035.svg");
}

.SwissMercenaries {
	background-image: url("img/svg/HIS-036.svg");
}

.Wartburg {
	background-image: url("img/svg/HIS-037.svg");
}

.HalleyComet {
	background-image: url("img/svg/HIS-038.svg");
}

.AugsburgConfession {
	background-image: url("img/svg/HIS-039.svg");
}

.Machiavelli {
	background-image: url("img/svg/HIS-040.svg");
}

.MarburgColloquy {
	background-image: url("img/svg/HIS-041.svg");
}

.Roxelana {
	background-image: url("img/svg/HIS-042.svg");
}

.ZwingliDonsArmor {
	background-image: url("img/svg/HIS-043.svg");
}

.AffairPlacards {
	background-image: url("img/svg/HIS-044.svg");
}

.CalvinExpelled {
	background-image: url("img/svg/HIS-045.svg");
}

.CalvinInstitutes {
	background-image: url("img/svg/HIS-046.svg");
}

.Copernicus {
	background-image: url("img/svg/HIS-047.svg");
}

.Galleons {
	background-image: url("img/svg/HIS-048.svg");
}

.HuguenotRaiders {
	background-image: url("img/svg/HIS-049.svg");
}

.MercatorMap {
	background-image: url("img/svg/HIS-050.svg");
}

.MichaelServetus {
	background-image: url("img/svg/HIS-051.svg");
}

.Michelangelo {
	background-image: url("img/svg/HIS-052.svg");
}

.Plantations {
	background-image: url("img/svg/HIS-053.svg");
}

.PotosiSilverMines {
	background-image: url("img/svg/HIS-054.svg");
}

.JesuitEducation {
	background-image: url("img/svg/HIS-055.svg");
}

.PapalInquisition {
	background-image: url("img/svg/HIS-056.svg");
}

.PhilipHesseBigamy {
	background-image: url("img/svg/HIS-057.svg");
}

.SpanishInquisition {
	background-image: url("img/svg/HIS-058.svg");
}

.LadyJaneGrey {
	background-image: url("img/svg/HIS-059.svg");
}

.MauriceSaxony {
	background-image: url("img/svg/HIS-060.svg");
}

.MaryDefiesCouncil {
	background-image: url("img/svg/HIS-061.svg");
}

.BookCommonPrayer {
	background-image: url("img/svg/HIS-062.svg");
}

.DissolutionMonasteries {
	background-image: url("img/svg/HIS-063.svg");
}

.PilgrimageGrace {
	background-image: url("img/svg/HIS-064.svg");
}

.MightyFortress {
	background-image: url("img/svg/HIS-065.svg");
}

.AkinjiRaiders {
	background-image: url("img/svg/HIS-066.svg");
}

.Anabptists {
	background-image: url("img/svg/HIS-067.svg");
}

.AndreaDoria {
	background-image: url("img/svg/HIS-068.svg");
}

.AuldAlliance {
	background-image: url("img/svg/HIS-069.svg");
}

.CharlesBourbon {
	background-image: url("img/svg/HIS-070.svg");
}

.CityStateRebels {
	background-image: url("img/svg/HIS-071.svg");
}

.ClothPricesFluctuate {
	background-image: url("img/svg/HIS-072.svg");
}

.DiplomaticMarriage {
	background-image: url("img/svg/HIS-073.svg");
}

.DiplomaticOverture {
	background-image: url("img/svg/HIS-074.svg");
}

.Erasmus {
	background-image: url("img/svg/HIS-075.svg");
}

.ForeignRecruits {
	background-image: url("img/svg/HIS-076.svg");
}

.FountainYouth {
	background-image: url("img/svg/HIS-077.svg");
}

.FrederickWise {
	background-image: url("img/svg/HIS-078.svg");
}

.Fuggers {
	background-image: url("img/svg/HIS-079.svg");
}

.GabelleRevolt {
	background-image: url("img/svg/HIS-080.svg");
}

.IndulgenceVendor {
	background-image: url("img/svg/HIS-081.svg");
}

.JanissariesRebel {
	background-image: url("img/svg/HIS-082.svg");
}

.JohnZapolya {
	background-image: url("img/svg/HIS-083.svg");
}

.JuliaGonzaga {
	background-image: url("img/svg/HIS-084.svg");
}

.KatherinaBora {
	background-image: url("img/svg/HIS-085.svg");
}

.KnightsStJohn {
	background-image: url("img/svg/HIS-086.svg");
}

.MercenariesDemandPay {
	background-image: url("img/svg/HIS-087.svg");
}

.PesantsWar {
	background-image: url("img/svg/HIS-088.svg");
}

.PirateHaven {
	background-image: url("img/svg/HIS-089.svg");
}

.PrintingPress {
	background-image: url("img/svg/HIS-090.svg");
}

.Ransom {
	background-image: url("img/svg/HIS-091.svg");
}

.RevoltEgypt {
	background-image: url("img/svg/HIS-092.svg");
}

.RevoltIreland {
	background-image: url("img/svg/HIS-093.svg");
}

.RevoltCommuneros {
	background-image: url("img/svg/HIS-094.svg");
}

.SackRome {
	background-image: url("img/svg/HIS-095.svg");
}

.SaleMoluccas {
	background-image: url("img/svg/HIS-096.svg");
}

.ScotsRaid {
	background-image: url("img/svg/HIS-097.svg");
}

.SearchCibola {
	background-image: url("img/svg/HIS-098.svg");
}

.SebastianCabot {
	background-image: url("img/svg/HIS-099.svg");
}

.Shipbuilding {
	background-image: url("img/svg/HIS-100.svg");
}

.Smallpox {
	background-image: url("img/svg/HIS-101.svg");
}

.SpringPreparations {
	background-image: url("img/svg/HIS-102.svg");
}

.ThreatPower {
	background-image: url("img/svg/HIS-103.svg");
}

.TraceItalienne {
	background-image: url("img/svg/HIS-104.svg");
}

.Treachery {
	background-image: url("img/svg/HIS-105.svg");
}

.UnpaidMercenaries {
	background-image: url("img/svg/HIS-106.svg");
}

.UnsanitaryCamp {
	background-image: url("img/svg/HIS-107.svg");
}

.VenetianAlliance {
	background-image: url("img/svg/HIS-108.svg");
}

.VenetianInformant {
	background-image: url("img/svg/HIS-109.svg");
}

.WarPersia {
	background-image: url("img/svg/HIS-110.svg");
}

.ColonialGovernor {
	background-image: url("img/svg/HIS-111.svg");
}

.ThomasMore {
	background-image: url("img/svg/HIS-112.svg");
}

.ImperialCoronation {
	background-image: url("img/svg/HIS-113.svg");
}

.ForetEmbassy {
	background-image: url("img/svg/HIS-114.svg");
}

.ThomasCromwell {
	background-image: url("img/svg/HIS-115.svg");
}

.RoughWooing {
	background-image: url("img/svg/HIS-116.svg");
}

.DipAndreaDoria {
	background-image: url("img/svg/HIS-201.svg");
}

.DipFrenchConstable {
	background-image: url("img/svg/HIS-202.svg");
}

.DipCorsairRaid {
	background-image: url("img/svg/HIS-203.svg");
}

.DipDiplomaticMarriage {
	background-image: url("img/svg/HIS-204.svg");
}

.DipDiplomaticPressure {
	background-image: url("img/svg/HIS-205.svg");
}

.DipFrenchInvasion {
	background-image: url("img/svg/HIS-206.svg");
}

.DipHenryPetitions {
	background-image: url("img/svg/HIS-207.svg");
}

.DipKnightsStJohn {
	background-image: url("img/svg/HIS-208.svg");
}

.DipPlague {
	background-image: url("img/svg/HIS-209.svg");
}

.DipShipbuilding {
	background-image: url("img/svg/HIS-210.svg");
}

.DipSpanishInvasion {
	background-image: url("img/svg/HIS-211.svg");
}

.DipVenetianAlliance {
	background-image: url("img/svg/HIS-212.svg");
}

.DipAustrianInvasion {
	background-image: url("img/svg/HIS-213.svg");
}

.DipImperialInvasion {
	background-image: url("img/svg/HIS-214.svg");
}

.DipMachiavelli {
	background-image: url("img/svg/HIS-215.svg");
}

.DipOttomanInvasion {
	background-image: url("img/svg/HIS-216.svg");
}

.DipSecretProtestant {
	background-image: url("img/svg/HIS-217.svg");
}

.DipSiegeVienna {
	background-image: url("img/svg/HIS-218.svg");
}

.DipSpanishInquisition {
	background-image: url("img/svg/HIS-219.svg");
}

